html {
    width: 100%;
    height: 100%;
    font-size: 100.01%;
}
body {
    width:100%;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
}
.empty {

    height: 50px;
    margin-bottom: -50px;
}
footer {
    position: relative;
    height: 50px;
    background-color: #222222;
    text-align: center;
}
.footer {
    line-height: 50px;
    color : #999d9d;
}