{%extends 'index.html'%}
{%block title%}Категории товаров{%endblock%}
{%block menu%}
{% for key, value in mainmenu %}
{% if key == 'Категории' %}
<li role="presentation" class="active">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% if key != 'Категории' %}
<li role="presentation">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% endfor %}
{%endblock%}
{%block content%}
{%include 'content.html'%}
{%endblock%}