{%if access[3] == 1%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <form class="form-inline" action="/{{table}}/search" method="post">
                <select name="field" class="form-control">
                    {%for key, value in map[table]%}
                    <option value="{{key}}">{{value}}</option>
                    {%endfor%}
                </select><input name="value" type="text" class="form-control" placeholder="Значение поля">
                <button type="submit" class="btn btn-primary">Искать</button>
            </form>
        </div>
    </div>
</div>
{%endif%}
{%if access[3]==0%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-inline" action="/{{table}}/update" method="post">
                <div class="form-group"><label for="id" class="control-label">ID:</label><input class="form-control"
                                                                                                id="id" name="id"
                                                                                                value="{{data[0]['id']}}"
                                                                                                readonly></div>
                <div class="form-group"><select name="field" class="col-sm-1 form-control">
                    {%for key, value in map[table]%}
                    {%if key != 'id'%}
                    <option value="{{key}}">{{value}}</option>
                    {%endif%}
                    {%endfor%}
                </select></div>
                <div class="form-group"><input name="value" type="text" class="form-control"
                                               placeholder="Значение поля"></div>
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </div>
</div>
{%endif%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    {%for key, value in map[table]%}
                    <th> {{value}}</th>
                    {%endfor%}
                </tr>
                </thead>
                <tbody>
                {%for key, value in data%}
                <tr>
                    {%set id=0%}
                    {%for k, val in value%}
                    {%if k=='id'%}{%set id = val%}{%endif%}
                    {%set foo = k|split('_')%}
                    {%if foo[0]=='id' and foo[1]!='' %}
                    {%if foo[1] == 'catalog'%}
                    <td><a href="/category/findone/{{val}}">{{val}}</a></td>
                    {%else%}
                    <td><a href="/{{foo[1]}}s/findone/{{val}}">{{val}}</a></td>
                    {%endif%}
                    {%else%}
                    <td> {{val}}</td>
                    {%endif%}
                    {%endfor%}
                    {%if access[0] == 1%}
                    <td><a href="/{{table}}/findone/{{id}}">Подробнее</a></td>
                    {%endif%}
                    {%if access[1] == 1%}
                    <td><a href="/{{table}}/edit/{{id}}">Редактировать</a></td>
                    {%endif%}
                    {%if access[2] == 1%}
                    <td><a href="/{{table}}/delete/{{id}}">Удалить</a></td>
                    {%endif%}
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <form action="/{{table}}/create" method="post">
                {%for key, value in map[table]%}
                {%if key == 'id'%}
                <div class="form-group">
                    <label for="{{key}}" class="col-sm-2 control-label">{{value}}</label>
                    <div class="col-sm-10">
                        <input name="{{key}}" class="form-control" id="{{key}}" readonly>
                    </div>
                </div>
                {%endif%}
                {%if key != 'id'%}
                <div class="form-group">
                    <label for="{{key}}" class="col-sm-2 control-label">{{value}}</label>
                    <div class="col-sm-10">
                        <input name="{{key}}" class="form-control" id="{{value}}">
                    </div>
                </div>
                {%endif%}
                {%endfor%}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Новая запись</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
