{%extends 'index.html'%}
{%block title%}Главная{%endblock%}
{%block menu%}
{% for key, value in mainmenu %}
{% if key == 'Главная' %}
<li role="presentation" class="active">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% if key != 'Главная' %}
<li role="presentation">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% endfor %}
{%endblock%}
{%block content%}
<div class="col-lg-4">
    <a class="btn btn-default" href="/temp/{{table}}.{{type}}" download>Скачать</a>
</div>
{%endblock%}