<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>{%block title%}{%endblock%}</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<ul class="nav nav-pills">
					{%block menu%}

					{%endblock%}
				</ul>	
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
					{%block content%}

					{%endblock%}
			</div>
		</div>
	</div>
	<div class="footer"></div>
</body>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>