{%extends 'index.html'%}
{%block title%}Главная{%endblock%}
{%block menu%}
{% for key, value in mainmenu %}
{% if key == 'Главная' %}
<li role="presentation" class="active">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% if key != 'Главная' %}
<li role="presentation">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% endfor %}
{%endblock%}
{%block content%}
<div class="col-lg-4">
    <form action="/export" class="form-inline" method="post"><select name="table" class="form-control">
        {%for key,value in map%}
        <option>{{key}}</option>
        {%endfor%}
    </select>
        <select name="type" class="form-control">
            <option>json</option>
            <option>csv</option>
            <option>xml</option>
        </select>
        <button type="submit" class="btn btn-primary">Экспорт</button>
    </form>
</div>
<div class="col-lg-6">
    <form action="/import" class="form-inline" method="post" enctype="multipart/form-data">
        <select name="table" class="form-control">
            {%for key,value in map%}
            <option>{{key}}</option>
            {%endfor%}
        </select>
        <input name="file" type="file" class="form-control">
        <button type="submit" class="btn btn-primary">Импорт</button>
    </form>
</div>
{%endblock%}