{%extends 'index.html'%}
{%block title%}Главная{%endblock%}
{%block menu%}
{% for key, value in mainmenu %}
{% if key == 'Состав заказов' %}
<li role="presentation" class="active">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% if key != 'Состав заказов' %}
<li role="presentation">
    <a href="{{value}}">{{key}}</a>
</li>
{% endif %}
{% endfor %}
{%endblock%}
{%block content%}

{%include 'content.html'%}

{%endblock%}