<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<title>{%title%}</title>
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
					{%mainmenu%}
			</div>
		</div>
					{%content%}
	</div>
	<div class="footer"></div>
</body>
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>